<!-- Overwrite this file with code you want before the closing head tag -->
<!-- MailerLite Universal -->
<script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '463880');
</script>
<!-- End MailerLite Universal -->
<script>
	var refTagger = {
		settings: {
			bibleVersion: "ESV",			
			socialSharing: [],
            noSearchClassNames: ["no-ref"],
			customStyle : {
				heading: {
					backgroundColor : "#FFFFFF"
				}
			}
		}
	};
	(function(d, t) {
		var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
		g.src = "//api.reftagger.com/v2/RefTagger.js";
		s.parentNode.insertBefore(g, s);
	}(document, "script"));
</script>